@use "vuetify" with (
  $body-font-family: "Nunito" /*put the font family name here*/
);

body,
html {
  overflow: hidden;
}

.flag
{
  width: 25px !important;
  height: 25px !important;
}
